<h2 style="color:white">Sign in</h2>

<div class="container-fluid form">

<%= form_for :session, url: session_path do |f| %>
  <div class="form-group">
    <div class="label">

    <%= f.label :email %>
  </div>

    <%= f.email_field :email, class:"form-control" %>
  </div>

  <div class="form-group">
    <div class="label">
    <%= f.label :password %>
    </div>

    <%= f.password_field :password, class:"form-control" %>
  </div>

<%= f.submit 'Submit', class:'btn btn btn-outline-light' %>
<% end %>

</div>
