<!DOCTYPE html>
<html>
  <head>
    <title>Slackr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <%= link_to 'Slackr', :root %>
      |
      <%= link_to 'New Slack', '#' %>
      |
      <%= link_to 'Sign In', '#' %>
      |
      <%= link_to 'Sign Up', '#' %>
    </nav>

    <%= yield %>
  </body>
</html>
